terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars
terraform/*.zip
terraform/grading.json
grading.json
